<div class="navbar">
    <h3>
        <a class="nav-links" href="/shop">Simple Web Store</a> //
        <a class="nav-links" href="/login">Wish List</a> //
        <a class="nav-links">Basket</a>
    </h3>
</div>