<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> inc/head.mustache}}
</head>
<body>
<nav>
</nav>
<div class="index">
    <h1 class="landing"><a class="enterSite" href="/shop">Enter Store</a></h1>
    <div class ="about">
        <p>Click the link above to view the available products in the shop.
        </br>If you log in, you can view and add to your wishlist too!</p>
    </div>
</div>
</body>
</html>