<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> inc/head.mustache}}
</head>
<body>
<nav>
    {{> inc/nav.mustache}}
</nav>
<div class="login-container">
    <div>
        <h3>Log in or register here</h3>
        <p>You'll need to if you want to see your wishlist.</p>
    </div>
    <div>
        <form method="POST" action="/login">
            <div>
                <label for="userName">Username</label>
                <input type="text" name="userName" id="userName" placeholder="Enter Username"/>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Enter Password"/>
                <label for="password">Password</label>
            </div>
            <div>
                <button type="submit" name="act" value="login"><b>Log in</b></button>
                <button type="submit" name="act" value="register"><b>Register</b></button>
            </div>
            {{#rejected}}
                <p>Please try Again</p>
            {{/rejected}}
        </form>
    </div>
</div>
</body>
</html>
