<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> inc/head.mustache}}
</head>
<body>
<nav>
    {{> inc/nav.mustache}}
</nav>
<div class="login-container">
    <div>
        <form method="POST" action="/logout">
            <input type="hidden" name="redirect" value="{{redirect}}"/>
            <h3>Are you sure you want to log out?</h3>
            <p><b>{{userName}}</b>, You'll need to log back in if you want to see your wishlist.</p>
            <div>
                <button type="submit" name="act" value="logout"><b>Log out</b></button>
            </div>
            {{#rejected}}
                <p>Please try Again</p>
            {{/rejected}}
        </form>
    </div>
    <div>
    </div>
</div>
</body>
</html>
