<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> inc/head.mustache}}
</head>
<body>
<nav>
    {{> inc/nav.mustache}}
</nav>
<div class="product-list">
</div>
{{#shop.skus}}
    <a href=shop/sku/{{id}}>
        <div class="product-list-sku">
            <div class ="product-list-thumb">
                <img alt="{{title}}" src="/assets/images/{{thumbnail}}"/>
            </div>
            <div class="product-list-info">
                <div class="product-list-title">
                    <h4>{{title}}</h4>
                </div>
                <div class="product-list-price">
                    {{unitPriceString}}
                </div>
            </div>
        </div>
    </a>
</div>
{{/shop.skus}}
</body>
</html>
