<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> inc/head.mustache}}
</head>
<body>
<nav>
    {{> inc/nav.mustache}}
</nav>
<div class="item">
    <div class="item-image">
        <img id="myImg" alt="{{item.title}}" src="/assets/images/{{item.image}}"/>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
    <div class="item-details">
        <div class="item-details-info">
            <div class="item-details-info-title">
                <h3>{{item.title}}</h3>
            </div>
            <div class="item-details-info-price">
                &pound;{{item.unitPrice}}
            </div>
        </div>
        <div class="item-details-buttons">
            <div class="item-details-buttons-wishlist">
                <form method="POST" action="/shop/wishlist">
                    <input type="hidden" pattern="[0-9]*" name="quantity" id="quantity" value="1">
                    <input class="itemId" type="hidden" name="skuId" value="{{item.id}}"/>
                    <button class="item-details-buttons-wishlist-button"><b>Add to wish list</b></button>
                </form>
            </div>
            <div class="item-details-buttons-basket">
                <button class="item-details-buttons-basket-button" href=shop/sku/{{id}}><b>Add to basket</b></button>
            </div>
        </div>
        <div class="item-details-description">
            {{item.longDescription}}<br>
        </div>
        <div class="item-details-reviews">
            <div id="showReview">
                <h3>Show/Hide Reviews</h3>
            </div>
            <div id="fullReviews">
                &#9733;&#9733;&#9733;&#9733; by <b>Drew Lorimer</b><p>This item is pretty good!</p>
                &#9733;&#9733;&#9733; by <b>Jonathan McGeary</b><p>Could be better :(</p>
                &#9733;&#9733;&#9733;&#9733;&#9733; by <b>Papa John</b><p>I love it!!</p>
            </div>
        </div>
    </div>
</div>
<footer>
</footer>
<script src="/assets/scripts/image.js"></script>
<script src="/assets/scripts/showReviews.js"></script>
</body>
</html>
