<!DOCTYPE html>
<html lang="en">
<html>
<head>
    {{> inc/head.mustache}}
</head>
<body>
<nav>
    {{> inc/nav.mustache}}
</nav>
<div class="product-list">
    <h3>Your current wishlist{{^wishlist.hasContents}} is empty {{/wishlist.hasContents}}</h3>
</div>
{{#lines}}
    <div class="product-list-sku">
        <div class="product-list-sku-link">
            <a href=sku/{{sku.id}}>
                <div class ="product-list-thumb">
                    <img alt="{{sku.title}}" src="/assets/images/{{sku.thumbnail}}"/>
                </div>
                <div class="product-list-info">
                    <div class="product-list-title">
                        <h4>{{sku.title}}</h4>
                    </div>
                    <div class="product-list-price">
                        {{sku.unitPriceString}}
                    </div>
                    <div class="product-list-added">
                        <p>Date Added: {{sku.addDate}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="product-list-remove">
            <form method="post" action="/shop/cart/deleteSku" style="display:inline">
                <input class="item-id" type="hidden" name="skuId" value="{{sku.id}}"/>
                <button class="product-list-remove-button"type="submit" href="#"><b>Remove</b></button>
            </form>
            <button class="item-details-buttons-basket-button" href=shop/sku/{{id}}><b>Add to basket</b></button>
        </div>
    </div>
{{/lines}}
<div class="product-list">
    <h3 class="wishlist-logout"><a class="nav-links" href="/logout">Logout</a></h3>
</div>
</body>
</html>