@charset "utf-8";
/* GLOBAL STYLES */
body {
    width: 100%;
    margin: 2em auto;
    color: #333;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

footer{
    padding: 2em 2em 0;
    color: #333;
}
h1{
    font-family: 'Roboto Slab', serif;
}

/* GLOBAL LINKS */
a:link{
    text-decoration: none;
    color: #333;
}
a.visited{
    text-decoration: none;
    color: #333;
}

/* NAV BAR */

nav{
    font-family: 'Roboto Slab', serif;
}
.navbar {
    padding-left: 3em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    line-height: 40px;
}

.navbar.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px #ccc;
    -moz-box-shadow: 0 1px 5px #ccc;
    box-shadow: 0 1px 5px #ccc;
}

a.nav-links:hover{
    color: #ffcd00;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.nav-links{
    padding: .5em;
}



::selection{
    background-color: #ffcd00;
}
::-moz-selection{
    background-color: #ffcd00;
}


/* LANDING PAGE LOCALHOST:9000 */
h1.landing{
    font-size: 1000%;
}
.index{
    text-align: center;
}
.about{
    font-size: 100%;
}
a.entersite:hover{
    color: #ffcd00;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}



/* SHOP AND WISHLIST PAGE */
.product-list{
    padding-top: 2em;
    margin-left: 6em;
}
.product-list-sku {
    margin: .5em 6em;
    padding: .5em 1em;
    border-bottom: 2px solid #ccc;
    height: 150px;
}
.product-list-sku:hover{
    border-bottom: 2px solid #ffcd00;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
.product-list-thumb{
    width: 15%;
    float: left;
}
.product-list-info{
    width: 30%;
    float: left;
}
.product-list-remove{
    width: 15%;
    float: right;
}

/* WISHLIST PAGE */
button.product-list-remove-button{
    background-color: #dd4b39;
    border: 2px solid #dd4b39;
    text-align: center;
    width: 125px;
    color: #fff;
    padding: .5em 0;
    box-sizing: border-box;
    outline: 0;
    margin: 5px 2px 2em;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 3px;
}
button.product-list-remove-button:hover {
    background-color: #fff;
    border: 2px solid #dd4b39;
    color: #333;
}


.wishlist-logout{
    color: #dd4b39;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
.wishlist-logout:hover{
    color: #333;
}

/* SHOP/SKU/{{ID}} PAGE */
.item{
    padding: 6em;
}
.item-image{
    float: left;
    width: 30%;
}
.item-details{
    float: left;
    width: 50%;
}
.item-details-info{
    float: left;
    width: 50%;
    height: 125px;
}
.item-details-buttons{
    float: left;
    width: 50%;
    height: 125px;
}
.item-details-description{
    padding-bottom: 1em;
    border-bottom: 2px solid #333;
}
button.item-details-buttons-wishlist-button{
    background-color: #ffcd00;
    border: 2px solid #ffcd00;
    text-align: center;
    width: 125px;
    color: #333;
    padding: .5em 0;
    box-sizing: border-box;
    outline: 0;
    margin: 5px 2px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 3px;
}
button.item-details-buttons-wishlist-button:hover{
    background-color: #fff;
    border: 2px solid #ffcd00;
    color: #333;
}
button.item-details-buttons-basket-button{
    background-color: #333;
    border: 2px solid #333;
    text-align: center;
    width: 125px;
    color: #fff;
    padding: .5em 0;
    box-sizing: border-box;
    outline: 0;
    margin: 5px 2px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 3px;
}
button.item-details-buttons-basket-button:hover{
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
}

/* Expand item details */
#longDescription,
#shortDescription{
    padding: 1em;
}
#longDescription{
    background-color: #f2f2f2;
    border-radius: 5px;
}

#shortDescription{
    cursor: pointer;
    text-align: center;
}
#longDescription{
    display: none;
}

#fullReviews,
#showReview{
}

#showReview{
    cursor: pointer;
}
#fullReviews{
    display: none;
}

/* Enlarge Image on click */
#myImg{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover{
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 35%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 850px){
    .modal-content {
        width: 100%;
    }
    .item-image{
        width: 100%;
    }
    .item-details{
        width: 100%;
    }
    .item-details-info{
        width: 100%;
        text-align: center;
    }
    .item-details-buttons{
        width: 100%;
        text-align: center;
    }
    .item-details-description{
        width: 100%;
    }
}

/* GLOBAL FORM STYLES */
input[type=text], #password{
    color: #333;
    width: 250px;
    padding: .5em 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    margin: 5px 2px 2em;
}
button{
    color: #333;
    width: 121px;
    padding: .5em 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ffcd00;
    margin: 5px 2px 2em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    border-bottom: 2px solid #333;
}


/* LOG IN PAGE */
.login-container{
    padding: 3em 6em;
}
label[for="userName"],
label[for="password"] {
    display:none;
}







